<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 style="background: url(logo2.png) no-repeat;
                background-size: 160%;
                background-position-x: -107px;
                height: 258px;"></h1>
        </div>
        <h3>{{ 'WELCOMEALPHA' | translate }}</h3>

        <p>Login in.</p>
        <form class="m-t">
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" ng-model="lc.credentials.email" >
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password" ng-model="lc.credentials.password" >
            </div>
            <button  class="btn btn-primary block full-width m-b" ng-click="lc.login();">Iniciar Sesión</button>
            <div ng-show="lc.error"  class="text-center text-danger">
                <small>{{ lc.error }}</small>
            </div>

        </form>
    </div>
</div>