
<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'client/common/navigation.view.ng.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'client/common/topnavbar.view.ng.html'"></div>

        <!-- Main view  -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h1>
                            Pronto
                            {{main.helloText}}
                        </h1>
                        <small>
                            {{main.descriptionText}}
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div ng-include="'client/common/footer.view.ng.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->